
header{
	text-align: center;
	height: 80px;
	background: #024C51;
}

header .titulo{
	margin-top: 0;
	height: 80px;
	padding-top: 23px;
	font-size: 30px;
	color: white;
}

.container .row .login-logo img{
	width: 100%;
	border-color: white;
	margin-top: 30px;
}

.formulario form{
	margin-top: 50px;
	border: 1px solid #024C51;
	padding: 8% 8% 8% 12%;
}

.formulario span, .formulario label, .formulario input{
	display: block;
}

.formulario form .sesion{
	color: #024C51;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.formulario form label{
	color: #B6B6C9;
	margin-top: 25px;
	font-size: 12px;
}

.formulario form input.input-log{
	border: none;
	border-bottom: 1px solid #010304;
	width: 90%;
	margin-top: 25px;
	padding: 10px;
}


.formulario form .chec, .formulario form .recor{
	margin-top: 30px;
	display: inline;
}

.formulario form .boton{
	width: 100px;
	text-align: center;
	margin: 40px auto 10px auto;
	background: #024C51;
	color: white;
	padding: 5px 0 5px 0;
	border: none;
}