
.home{
	width: 87%;
	margin: 0 auto;
	height: 200px;
}

.home .ceviche, .home .pez{
	width: 100%;
	height: 300px;
}

.telefono{
	background: #024C51;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 5px;
	border: 2px solid #000;
}

.direccion .face{
	display: inline-block;
	position: absolute;
	right: 20px;
	color: blue;
}

.disfruta{
	background: #024C51;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 5px;
	border: 2px solid #000;
	text-align: center;
}


.home .footer{
	height: 130px;
	width: 100%;
	margin: 0 auto;
	background: #F1F1F1;
	border: 1px solid #95989A;
}

.home .footer ul{
	list-style: none;
	width: 80%;
	margin: 90px auto 0 auto;
}

.home .footer ul li{
	float: left;
	margin-right: 8%;
}


/*ESTILOS PARA NOSOTROS*/
.nosotros{
	width: 83%;
	margin: 0 auto;
}
.nosotros .title{
	background: #024C51;
	padding: 20px 0 20px 40px;
}

.nosotros .title span{
	font-size: 30px;
	color: white;
	font-weight: bold;
}

.nosotros .historia{
	margin-top: 60px;
	text-align: justify;
	padding-left: 0;
}

.nosotros .res{
	margin-top: 40px;
}

.nosotros .res img{
	width: 100%;
	height: 200px;
	border-radius: 40%;
}

.nosotros .footer{
	height: 180px;
	width: 105%;
	margin: 0 auto;
	background: #F1F1F1;
	border: 1px solid #95989A;
}

.nosotros .footer img{
	display: block;
	width: 15%;
	border: none;
	margin: 0 auto;
}

.nosotros .footer ul{
	list-style: none;
	width: 80%;
	margin: 65px auto 0 auto;
}

.nosotros .footer ul li{
	float: left;
	margin-right: 8%;
}

.nosotros .foot{
	padding-left: 0;
}

/*CARTA*/
.carta{
	margin: 0 auto;
}

.carta .title{
	background: #024C51;
	padding: 5px 0 5px 40px;
}

.carta .title span{
	font-size: 15px;
	color: white;
	font-weight: bold;
}

.tipicos{
	background: #E1EEFF;
	margin-top: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.tipico-plato{
	width: 150px;
	margin: 0 auto;
}

.tipico-plato img{
	height: 90px;
}

.tipico-plato span{
	color: blue;
}

.nosotros .footer{
	height: 180px;
	width: 101%;
	margin: 0 auto;
	background: #F1F1F1;
	border: 1px solid #95989A;
}


.carta .footer img{
	display: block;
	width: 15%;
	border: none;
	margin: 0 auto;
}

.carta .footer ul{
	list-style: none;
	width: 80%;
	margin: 55px auto 0 auto;
}

.carta .footer ul li{
	float: left;
	margin-right: 8%;
}

.carta .foot{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 30px;
	border:1px solid #95989A;
	margin-bottom: 50px;
	background: #F1F1F1;
}

.carta{
	width: 83%;
	margin: 0 auto;
}
/*estilo para el logo*/
.logo {
	width: 200px;
	border-radius: 50%;
}

.navbar-nav li a{
	font-family: "Arial Unicode MS";
	font-size: 2em;
	font-style: italic;
}
.navbar li{
	padding-right: 50px;
}
.navbar .active{
	text-decoration: underline;
}